.HomeContainer {
  width: 100%;
  height: 100vh;

  .latestNews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    strong {
      width: 100%;
      text-align: center;

      font-size: 1.8rem;
      margin: 2rem;

      color: var(--purple-600);
    }

    .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media (max-width: 680px) {
        flex-direction: column;
      }
    }

    .latestCard {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      width: 35%;
      margin: 0 2rem;

      padding: 2%;

      background: var(--white);
      border-radius: 15px;

      @media (max-width: 680px) {
        width: 100%;
        margin: 2rem 0;
        border-bottom: 1px solid var(--gray-200);
      }

      img {
        max-width: 100%;
        width: 300px;
        height: auto;
        border-radius: 15px;
        border: 1px solid var(--green-500);

        object-fit: cover;

        margin-bottom: 1rem;

        cursor: pointer;

        transition: border 0.2s;

        &:hover {
          border: 3px solid var(--green-500);
        }

        @media (max-width: 780px) {
          width: 400px;
        }
      }

      h2 {
        font-size: 1.4rem;
        margin: 1rem 0;
        color: var(--gray-300);

        cursor: pointer;

        transition: color 0.2s;

        &:hover {
          color: var(--blue-800);
        }
      }
    }
  }

  .allNews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .alignStongs {
      width: 90%;
      margin-top: 4rem;
      margin-bottom: 3rem;

      @media (max-width: 680px) {
        width: 100%;
        text-align: center;
      }

      strong {
        text-align: justify;
        font-size: 1.8rem;

        color: var(--purple-600);
      }
    }

    .allCard {
      width: 90%;
      height: auto;
      padding: 2%;

      display: flex;
      flex-wrap: wrap;
      align-items: center;

      background: var(--white);
      border-bottom: 1px solid var(--gray-200);
      border-radius: 15px;

      margin-bottom: 1.5rem;

      @media (max-width: 680px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      img {
        max-width: 100%;
        width: 30%;
        border-radius: 15px;
        border: 1px solid var(--green-500);

        object-fit: cover;

        cursor: pointer;

        transition: border 0.2s;

        @media (max-width: 680px) {
          width: 400px;
          margin: 1rem 0;
        }

        &:hover {
          border: 3px solid var(--green-500);
        }
      }

      div {
        width: 50%;
        margin-left: 2rem;

        @media (max-width: 680px) {
          text-align: center;
          width: 100%;
          margin: 1rem 0;
        }

        h2 {
          font-size: 1.4rem;

          margin-bottom: 1rem;
          color: var(--gray-300);

          cursor: pointer;

          transition: color 0.2s;

          &:hover {
            color: var(--blue-800);
          }
        }

        p {
          line-height: 26px;

          cursor: pointer;

          transition: color 0.2s;

          &:hover {
            color: var(--gray-200);
          }
        }
      }
    }
  }
}
